*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px 0px 10px;
    display: block;
}

body {
    margin: 0px;
    padding: 12px;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body > * {
    display: block;
    width: 100%;
}

.btn {
    padding: 10px 15px;
    border: 0px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s all;
    background-color: yellowgreen;
    color: black;
}

.btn:hover {
    background-color: green;
    color: white;
}